body {
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
